a {
  text-decoration: none;
  text-align: center;
  color: #35424a;;
  font-size: 20px;
}

a:hover {
  color:  #e8491d;
}

.main {
  padding: 10px;
  margin-bottom: 7px;
  width: 400px;
  opacity: 1.0;
}

.main-inactive {
  opacity: 0.5;
}
