a {
  text-decoration: none;
  text-align: center;
  color: white;
}

a:hover {
  color: skyblue;
}

.main {
  padding: 10px;
  margin-bottom: 7px;
  width: 400px;
  opacity: 1.0;
}

.main-inactive {
  opacity: 0.5;
}
