<header class="header">
		<h1 class="logo"><a routerLink="/projectSelect">CASSAVA</a></h1>
      <ul class="main-nav">
          <li><a routerLink="/projectSelect">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
	</header> 

<!-- <mat-toolbar style="background-color:white;color:teal">
  <span>Welcome to Cassava's Hub.</span>

  <app-project-header [projectHeader]="projectHeader" ></app-project-header>
</mat-toolbar> -->

<div style="margin-left:10px;margin-top:15px">
  <router-outlet></router-outlet>
</div>
