<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-nav-list (click)="close('mat list click')">
      <a mat-list-item routerLink="."><span style="width:200px"></span></a>
      <a mat-list-item routerLink="/projectSelect">Home</a>
      <a mat-list-item routerLink=".">About</a>
      <a mat-list-item routerLink=".">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <div class="container">
        <div id="branding">
          <h1>
            <span class="highlight">CASSAVA</span>
          </h1>
        </div>
        <nav>
          <ul>
            <li class="current">
              <a routerLink="/projectSelect">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a routerLink="/login">Login</a>
            </li>
            <li>
              <a class="icon" (click)="sidenav.open()">
                <img src="../assets/images/hamburger1.png" alt="menu" width="50px">
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div style="margin-left:10px;margin-top:15px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
